[package]
name = "marmol"
version = "0.1.6"
edition = "2021"
resolver = "2"


[dependencies]
egui = "0.33"
egui_dock = { version = "0.18", features = ["serde"] }
eframe = "0.33"
egui_plot = "0.34"
#eframe = { git = "https://github.com/senchpimy/egui", rev="d99fac7"}
chrono = "0.4.23"
syntect = "5.0"
base64 = "0.21"
#egui_demo_lib = "0.22.0"
directories = "2.0"
serde_json = "1.0"
serde = { version = "1.0.228", features = ["derive"] }
#egui_demo_lib = { git = "https://github.com/senchpimy/egui", rev="d99fac7" }


#egui = { git = "https://github.com/senchpimy/egui", rev="d99fac7" }
egui_extras = { version = "0.33", features = ["image","file"] }
#egui_extras = {git = "https://github.com/senchpimy/egui", rev="d99fac7", features = ["image"]}
filebuffer = "0.4.0"
image = { version = "0.25", default-features = false, features = [
  "png",
  "jpeg",
] }
json = "0.12.4"
serde_yaml = "0.9"
font-loader = "0.11" 
yaml-rust = "0.4.5"
egui_commonmark = {version="0.22",features = ["svg","fetch"]}
#egui_commonmark = { version = "0.7.1", features = [
#  "syntax_highlighting",
#  "svg",
#  "fetch",
#], path = "../egui_commonmark/" }

walkdir = "2.3.1"
regex = "1.7.2"
fstream = "0.1.2"
rfd = "0.11.3"

[profile.release]
panic = "abort"
lto = true
#strip = true
codegen-units = 1
incremental = false
#opt-level = 3
opt-level = "z"
