[Desktop Entry]
Encoding=UTF-8
Terminal=0
Exec=env -u WAYLAND_DISPLAY -u WAYLAND_SOCKET /bin/marmol
Type=Application
Name=Marmol
GenericName=Marmol
Icon=/home/plof/Documents/RustProjects/marmol/logo/cubov3.svg
